@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Comfortaa:wght@700&display=swap");
a {
  text-decoration: none;
}
a p {
  text-decoration: none;
  color: #f2f4f7;
}

.head {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #515ece;
  height: 17rem;
}
.head .h {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-bottom: -2.5rem;
}
.head .h .title {
  font-size: 2rem;
  font-weight: 700;
  color: #e9ecf1;
  height: 5rem;
}
.head .h .acc {
  text-align: center;
}
.head .h .acc img {
  height: 2rem;
  width: 2rem;
}
.head .h .acc p {
  font-size: 1.5rem;
}
.head .navbar {
  border-radius: 0.5rem;
  width: 100vw;
  display: flex;
  height: 10rem;
  justify-content: space-around;
}
.head .navbar a {
  text-decoration: none;
}
.head .navbar .nav_symbol {
  margin-top: 1.5rem;
  height: 7rem;
  width: 7rem;
  border-radius: 2rem;
  background-color: #f2f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head .navbar .nav_symbol img {
  height: 5rem;
  width: 5rem;
  margin-top: 0.5rem;
}
.head .navbar .bbtn_nav {
  font-size: 5rem;
  text-align: center;
}

.content_home {
  height: 100vh;
  background-color: #e9ecf1;
}
.content_home img {
  width: 100vw;
  object-fit: contain;
}

[class*=bbtn-] {
  font-size: 1.25rem;
  cursor: pointer;
}
[class*=bbtn-]:hover {
  transform: scale(1.01);
}

.bbtn-edit {
  color: #243c74;
}

.bbtn-detail {
  color: #00a67e;
}

.bbtn-trash {
  color: #dc3545;
}

.bbtn-plus {
  color: #243c74;
  font-weight: 800;
}

.cre-account {
  display: flex;
  margin-bottom: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cre-account a {
  color: #7c8cac;
}

.signup {
  margin: 5rem auto;
  width: 59%;
}
.signup .signup-form {
  margin: auto;
}
.signup .signup-form .title {
  position: relative;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  color: #243c74;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 2rem;
}
.signup .signup-form .input-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin: 2rem 0;
  border-bottom: 2px #7c8cac solid;
}
.signup .signup-form .input-field > input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}
.signup .signup-form .input-field:focus-within {
  border-bottom: 2px #243c74 solid;
}
.signup .signup-form .input-field > i {
  font-size: 1.5rem;
  color: #808080;
}
.signup .signup-form .input-field > i.first-icon {
  position: absolute;
  left: 0;
}
.signup .signup-form .input-field > i ~ input:focus, .signup .signup-form .input-field > i ~ input:valid {
  border-bottom-color: #243c74;
}
.signup .signup-form .input-field > i.icon {
  left: 0;
}
.signup .signup-form .input-field > i.show {
  right: 0;
}
.signup .signup-form .input-field > i.hide {
  right: 0;
}
.signup .signup-form .birthday,
.signup .signup-form .gender-checkbox {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  font-style: normal;
  color: #243c74;
  font-weight: 300;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  font-size: 1rem;
}
.signup .signup-form .birthday input {
  margin-left: 2rem;
  border: 0.125rem solid #243c74;
  height: 2rem;
  border-radius: 0.5rem;
}
.signup .signup-form > button {
  width: 100%;
  border: none;
  color: #f2f4f7;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
  letter-spacing: 1px;
  border-radius: 1.5rem;
  background-color: #243c74;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.signup .signup-form > button > hover {
  background-color: #1b2d57;
}

.login {
  margin: 5rem auto;
  width: 59%;
}

.login-form .title {
  position: relative;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  color: #243c74;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.login-form .input-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin: 2rem 0;
  border-bottom: 2px #7c8cac solid;
}
.login-form .input-field > input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 2rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}
.login-form .input-field:focus-within {
  border-bottom: 2px #243c74 solid;
}
.login-form .input-field > i {
  font-size: 1.5rem;
  color: #808080;
}
.login-form .input-field > i.first-icon {
  position: absolute;
  left: 0;
}
.login-form .input-field > i ~ input:focus, .login-form .input-field > i ~ input:valid {
  border-bottom-color: #243c74;
}
.login-form .input-field > i.icon {
  left: 0;
}
.login-form .input-field > i.show {
  right: 0;
}
.login-form .input-field > i.hide {
  right: 0;
}
.login-form .checkbox-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.login-form .checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}
.login-form .checkbox-text .checkbox-content input {
  width: 1rem;
  margin: 0 8px -2px 4px;
  accent-color: #243c74;
}
.login-form .checkbox-text .text {
  color: #243c74;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
}
.login-form .checkbox-text a {
  text-decoration: none;
}
.login-form .checkbox-text a:hover {
  text-decoration: underline;
}
.login-form > button {
  width: 100%;
  border: none;
  color: #f2f4f7;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
  letter-spacing: 1px;
  border-radius: 1.5rem;
  background-color: #243c74;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.login-form > button > hover {
  background-color: #1b2d57;
}

.shedule_container {
  height: 100vh;
  width: 100%;
  background-color: #e9ecf1;
}
.shedule_container .title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  margin: 2rem;
  color: #243c74;
  font-weight: 700;
  text-transform: uppercase;
}
.shedule_container .right_d {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.shedule_container .right_d input {
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.shedule_container .right_d button {
  background-color: #243c74;
  border-radius: 0.5rem;
  color: #f2f4f7;
}
.shedule_container .right_d .search {
  padding: 0.25rem 0.5rem;
}
.shedule_container .right_d .filter {
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.shedule_container .right_d .filter option {
  font-family: "Be Vietnam Pro", sans-serif;
}
.shedule_container .table {
  width: 90%;
  height: 60%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
}
.shedule_container .table .t_head {
  border-bottom: 0.125rem solid #5d6981;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}
.shedule_container .table .t_row {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr 1fr 1fr 1fr;
  margin: 1rem 0;
}
.shedule_container .table .t_row div {
  text-align: center;
}
.shedule_container .table .t_content {
  overflow: auto;
  height: 80%;
}

.shedule-form {
  margin: 1rem 2rem;
}
.shedule-form .shedule_head {
  font-size: 2rem;
  font-weight: 700;
  color: #243c74;
  height: 5rem;
}
.shedule-form .content {
  margin: 0 5rem;
}
.shedule-form .content div {
  margin-top: 0.75rem;
}
.shedule-form .content .row {
  display: flex;
  flex-direction: row;
}
.shedule-form > button {
  width: 100%;
  border: none;
  color: #f2f4f7;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
  letter-spacing: 1px;
  border-radius: 1.5rem;
  background-color: #243c74;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 3rem 0;
}
.shedule-form > button > hover {
  background-color: #1b2d57;
}

.container_dentist {
  margin-top: 0;
  border-radius: 1rem;
  height: 100%;
  background-color: #e9ecf1;
}
.container_dentist .title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  margin: 2rem;
  color: #243c74;
  font-weight: 700;
  text-transform: uppercase;
}
.container_dentist .right_d {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.container_dentist .right_d input {
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.container_dentist .right_d button {
  background-color: #243c74;
  border-radius: 0.5rem;
  color: #f2f4f7;
}
.container_dentist .right_d .search {
  padding: 0.25rem 0.5rem;
}
.container_dentist .d_head {
  border-bottom: 0.125rem solid #5d6981;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}
.container_dentist .list_dentist {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 4fr 3fr 2fr 2fr 6fr 1fr;
  margin: 1rem 2rem;
}
.container_dentist .list_dentist div {
  text-align: center;
}
.container_dentist .list_dentist i {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.container_dentist .list_clinic {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 1rem 2rem;
}
.container_dentist .list_clinic div {
  text-align: center;
}
.container_dentist .list_clinic i {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.container_dentist .list_medecion {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 2fr 2fr 2fr 1fr;
  margin: 1rem 2rem;
}
.container_dentist .list_medecion div {
  text-align: center;
}
.container_dentist .list_medecion i {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.container_dentist .clinic_contnent,
.container_dentist .medecion_contnent,
.container_dentist .dentist_contnent {
  overflow: auto;
  height: 50vh;
}

#pagination {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  background-color: #fff;
  align-items: stretch;
  justify-content: center;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.3);
  gap: 0.5rem;
}
#pagination #page-container {
  display: flex;
  gap: 0.5rem;
}
#pagination button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  background-color: transparent;
  color: #243c74;
  border: none;
  border-radius: 0.5rem;
  transition: all 350ms;
}
#pagination button:hover {
  background-color: #f2f4f7;
}
#pagination button.page-active {
  color: #fff;
  background-color: #243c74;
}

.plan-row {
  background-color: #3498db;
  /* màu xanh dương cho kế hoạch */
}

.cancelled-row {
  background-color: #f8f8b2;
  /* màu vàng cho đã huỷ */
}

.completed-row {
  background-color: #2ecc71;
  /* màu xanh lá cho đã hoàn thành */
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  cursor: pointer;
}

.addCus {
  position: relative;
  background-color: #f2f4f7;
  font-family: "Be Vietnam Pro", sans-serif;
  border-radius: 1rem;
  padding: 2rem;
  width: 75vw;
  height: 70vh;
  margin: 7vh auto;
}
.addCus .bbtn-close {
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  cursor: pointer;
  font-size: 2.5rem;
}
.addCus .cus_head {
  border-bottom: 0.125rem solid #5d6981;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}
.addCus .form_addcus {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5rem 3rem;
}
.addCus .form_addcus .add_cus_row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.addCus .form_addcus .add_cus_row input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 30rem;
  text-align: center;
}
.addCus .form_addcus .add_cus_row .gender {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  flex-direction: co;
}
.addCus .form_addcus .add_cus_row .gender input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.addCus .form_addcus .xacnhan {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.addCus .form_addcus .xacnhan button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #00a67e;
  color: #f2f4f7;
  border: none;
}

.container_cus {
  margin-top: 0;
  border-radius: 1rem;
  height: 100%;
  background-color: #e9ecf1;
}
.container_cus .title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  margin: 2rem;
  color: #243c74;
  font-weight: 700;
  text-transform: uppercase;
}
.container_cus .right_d {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.container_cus .right_d input {
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.container_cus .right_d button {
  background-color: #243c74;
  border-radius: 0.5rem;
  color: #f2f4f7;
}
.container_cus .right_d .search {
  padding: 0.25rem 0.5rem;
}
.container_cus .d_head {
  border-bottom: 0.125rem solid #5d6981;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}
.container_cus .list_cus {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 6fr 2fr 6fr 1fr 1fr 1fr;
  margin: 1rem 2rem;
}
.container_cus .list_cus div {
  text-align: center;
}
.container_cus .cus_contnent {
  overflow: auto;
  height: 40vh;
}

#pagination {
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  background-color: #fff;
  align-items: stretch;
  justify-content: center;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.3);
  gap: 0.5rem;
}
#pagination #page-container {
  display: flex;
  gap: 0.5rem;
}
#pagination button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  background-color: transparent;
  color: #243c74;
  border: none;
  border-radius: 0.5rem;
  transition: all 350ms;
}
#pagination button:hover {
  background-color: #f2f4f7;
}
#pagination button.page-active {
  color: #fff;
  background-color: #243c74;
}

.container-detail-cus {
  margin-top: 0;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e9ecf1;
}
.container-detail-cus .title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  margin: 2rem;
  color: #243c74;
  font-weight: 700;
  text-transform: uppercase;
}
.container-detail-cus .content {
  height: 100%;
  border-radius: 1rem;
  margin: 2rem;
  margin-bottom: 1rem;
  background-color: #7c8cac;
  padding: 2rem;
  overflow: auto;
}
.container-detail-cus .content div {
  font-size: 1.25rem;
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0.5rem;
  color: #fff;
  font-weight: 500;
}
.container-detail-cus .content div a {
  text-decoration: none;
  color: #ffd580;
}
.container-detail-cus .content .add {
  display: flex;
  justify-content: flex-end;
}

.news {
  width: 98%;
  border: 1px solid black;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background-color: #1a8cff;
  color: white;
  height: 50px;
  opacity: 0.5;
}

.news-content {
  padding: 7px;
  border: 0.5px solid #d9d9d9;
  color: #0084ff;
  display: none;
}

.arrow {
  cursor: pointer;
}

.news-content.show {
  display: block;
}

.news-header.active {
  opacity: 1;
  color: white;
}

.head_profile {
  height: 20rem;
  background-color: #7c8cac;
  border-radius: 2rem;
  display: flex;
}
.head_profile img {
  margin: 2rem 2rem;
  height: 15rem;
}
.head_profile .name {
  font-size: 3rem;
  color: #f2f4f7;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  margin: auto 5rem;
}
.head_profile .name .sub {
  font-size: 1.5rem;
  font-family: "Comfortaa", sans-serif;
}

.content_profile {
  margin: 1rem 0;
  height: 100%;
  background-color: #7c8cac;
  border-radius: 2rem;
  position: relative;
}
.content_profile .title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2rem;
  margin: 2rem;
  color: #243c74;
  font-weight: 700;
  text-transform: uppercase;
}
.content_profile .content {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.25rem;
  margin-left: 6rem;
  color: #f2f4f7;
  font-weight: 400;
}
.content_profile .content div {
  margin: 0.375rem;
}
.content_profile .back {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.content_profile a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #f29339;
}

.detailTreament {
  position: relative;
  background-color: #f2f4f7;
  font-family: "Be Vietnam Pro", sans-serif;
  border-radius: 1rem;
  padding: 2rem;
  width: 90vw;
  height: 70vh;
  margin: 7vh auto;
}
.detailTreament .bbtn-close {
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  cursor: pointer;
  font-size: 2.5rem;
}
.detailTreament .head_treat {
  border-bottom: 0.125rem solid #5d6981;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
  height: 10%;
}
.detailTreament .content {
  height: 90%;
  background-color: bisque;
}
.detailTreament .content .grid_treat {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr 3fr 3fr 5fr 2fr;
  margin: 1rem 2rem;
}
.detailTreament .content .grid_treat div {
  text-align: center;
}
.detailTreament .content .g_head {
  font-size: 1.25rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  border-bottom: 0.125rem solid #5d6981;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
