<div class="detailTreament">
    <div class="head_treat">Chi tiết kế hoạch điều trị</div>
    <div class="content">
        <div class="grid_treat g_head">
            <div>Mã điều trị</div>
            <div>Mô tả</div>
            <div>Ngày điều trị</div>
            <div>Bác sĩ thực hiện</div>
            <div>Trợ khám</div>
            <div>Ghi chú</div>
            <div>Danh sách răng</div>

        </div>
        <div class="grid_treat">
            <div>12222</div>
            <div>mo râtdasda</div>
            <div>14/12/2024</div>
            <div>Nguyễn van a</div>
            <div>Nguyen van b</div>
            <div>Ghi chúhsssdads</div>
            <div>
                <ul>rang1</ul>
                <ul>rang 2</ul>
            </div>
        </div>

<div class="grid_treat">
            <div>12222</div>
            <div>mo râtdasda</div>
            <div>14/12/2024</div>
            <div>Nguyễn van a</div>
            <div>Nguyen van b</div>
            <div>Ghi chúhsssdads</div>
            <div>
                <ul>rang1</ul>
                <ul>rang 2</ul>
            </div>
        </div>

    </div >
    <div class="bbtn-close" onclick="off()">
        <i class="bx bx-x"></i>
    </div>
</div>