<div class="head">
    <div class="h">
        <div class="title">
            PHÒNG KHÁM NHA KHOA
        </div>
        <a class="acc" href="/admin/profile">
            <img src="/img/avatar.png" alt="">
            <p>Admin</p>
        </a>

    </div>

    <div class="navbar">
        <a href="/admin/list_dentist">
            <div class="nav_symbol">
                <img src="/img/dentist.png" alt="">
                <div>DENTIST</div>
            </div>
        </a>
        
        <a href="/admin/shedule">
            <div class="nav_symbol">
                <i class='bx bx-calendar-event btn_nav '></i>
                <div>SHEDUDLE</div>
            </div>
        </a>
        <a href="/admin/customer">
            <div class="nav_symbol">
                <i class='bx bx-user btn_nav'></i>
                <div>CUSTOMER</div>
            </div>
        </a>
        <a href="/admin/clinic">
            <div class="nav_symbol">
                <img src="/img/clinic.jpg" alt="">
                <div>CLINIC</div>
            </div>
        </a>
         <a href="/admin/medecion">
            <div class="nav_symbol">
                <img src="/img/medecion.jpg" alt="">
                <div>MEDECION</div>
            </div>
        </a>
        <a href="/admin/list_staff">
            <div class="nav_symbol">
                <img src="/img/employee.svg" alt="">
                <div>EMPLOYEE</div>
            </div>
        </a>

    </div>

</div>