

<div class="navbar">
<a href="#">
    <img src="/img/dentist.png" alt="" class="nav_symbol">
</a>
<a href="#">
    <img src="/img/employee.svg" alt="" class="nav_symbol">
</a>
<a href="#">
    <i class='bx bx-calendar-event btn_nav nav_symbol'></i>
</a>
<a href="#">
    <i class='bx bx-user btn_nav nav_symbol'></i>
</a>

</div>