<div class="head">
    <div class="h">
        <div class="title">
            PHÒNG KHÁM NHA KHOA
        </div>
        <a class="acc" href="#">
            <img src="/img/avatar.png" alt="">
            <p>staff</p>
        </a>

    </div>

    <div class="navbar">
        <a href="#">
            <div class="nav_symbol">
                <img src="/img/dentist.png" alt="">
                <div>DENTIST</div>
            </div>
        </a>
        <a href="/staff/shedule">
            <div class="nav_symbol">
                <i class='bx bx-calendar-event btn_nav '></i>
                <div>SHEDUDLE</div>
            </div>
        </a>
        <a href="#">
            <div class="nav_symbol">
                <i class='bx bx-user btn_nav'></i>
                <div>CUSTOMER</div>
            </div>
        </a>

    </div>

</div>