<div class="head">
    <div class="h">
        <div class="title">
            PHÒNG KHÁM NHA KHOA
        </div>
        <a class="acc" href="/staff/profile">
            <img src="/img/avatar.png" alt="">
            <p>staff</p>
        </a>

    </div>

    <div class="navbar">
        <a href="/staff/list_dentist">
            <div class="nav_symbol">
                <img src="/img/dentist.png" alt="">
                <div>DENTIST</div>
            </div>
        </a>
        <a href="/staff/list_staff">
            <div class="nav_symbol">
                <img src="/img/employee.svg" alt="">
                <div>EMPLOYEE</div>
            </div>
        </a>
        <a href="/staff/schedule">
            <div class="nav_symbol">
                <i class='bx bx-calendar-event bbtn_nav '></i>
                <div>SCHEDULE</div>
            </div>
        </a>
        <a href="/staff/customer">
            <div class="nav_symbol">
                <i class='bx bx-user bbtn_nav'></i>
                <div>CUSTOMER</div>
            </div>
        </a>

    </div>

</div>