.shedule-form {
    margin: 1rem 2rem;


    .shedule_head {
        font-size: 2rem;
        font-weight: 700;
        color: $base-color;
        height: 5rem;
    }

    .content {
        margin: 0 5rem;
        div{
            margin-top: 0.75rem;
        }
    
       .row{
            display: flex;
            flex-direction: row;
       }
    }
    &>button {

        width: 100%;
        border: none;
        color: $light-bg-color;
        height: 3rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: $base-font-family;
        letter-spacing: 1px;
        border-radius: 1.5rem;
        background-color: $base-color;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 3rem 0;
        

        &>hover {
            background-color: $heading-color;
        }
    }
}