.shedule_container{
    height: 100vh;
    width: 100%;
    background-color: $order-bg-color;
    .title{
        font-family: $base-font-family;
        font-size: 2rem;
        margin: 2rem;
        color: $base-color;
        font-weight: 700;
        text-transform: uppercase;
    }
    .table{
        width: 90%;
        height: 60%;
        font-family: $base-font-family;
        font-size: 2rem;
        margin: auto;
        background-color: $nav-bg;
        border-radius: 1rem;
        .t_head{
            border-bottom: 0.125rem solid $sub-color-dark;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 0.5rem;
            
        }
        .t_row{
            font-size: 1rem;
            display: grid;
            grid-template-columns: 1fr 3fr 6fr 3fr 1fr 1fr;
            margin: 1rem 0;

            div {
                text-align: center;
            }
            i{
                font-size: 1rem;
                margin-bottom: 0.25rem;
            }
        }
        .t_content{
            
            overflow: auto;
            height: 80%;
        }
    }

}