.shedule_container{
    height: 100vh;
    width: 100%;
    background-color: $order-bg-color;
    .title{
        font-family: $base-font-family;
        font-size: 2rem;
        margin: 2rem;
        color: $base-color;
        font-weight: 700;
        text-transform: uppercase;
    }
    .right_d{
        margin-right: 0.5rem;
        display: flex ;
        justify-content: flex-end;
        input{
            border-radius: 1rem;
            font-size: 1rem;
            font-weight: 400;
            
        }
        button{
            background-color: $base-color;
            border-radius: 0.5rem;
            color: $light-bg-color;
        }
        .search{
            padding: 0.25rem 0.5rem;
        }

        .filter{
            border-radius: 0.5rem;
            padding: 0.5rem;
            option{
                font-family: $base-font-family;
            }
        }
    }

    .table{
        width: 90%;
        height: 60%;
        font-family: $base-font-family;
        font-size: 2rem;
        margin: auto;
        background-color: $nav-bg;
        border-radius: 1rem;
        .t_head{
            border-bottom: 0.125rem solid $sub-color-dark;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 0.5rem;
            
        }
        .t_row{
            font-size: 1rem;
            display: grid;
            grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr 1fr 1fr 1fr;
            margin: 1rem 0;

            div {
                text-align: center;
            }
        }
        .t_content{
            
            overflow: auto;
            height: 80%;
        }
    }

}