@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Comfortaa:wght@700&display=swap");
@import 'variables';
@import 'home';
@import 'signup_login';
@import 'shedule';
@import 'add';
@import 'manage_dentist';
@import 'customer';
@import 'profile';
* {
    box-sizing: border-box;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

